@font-face {
  font-family: "karla";
  font-weight: bold;
  src: url(../../assets/fonts/karla-bold.ttf);
}
@font-face {
  font-family: "karla";
  font-weight: normal;
  src: url(../../assets/fonts/karla.ttf);
}
@font-face {
  font-family: "open sans";
  font-weight: 800;
  src: url(../../assets/fonts/open-sans-extrabold.ttf);
}
@font-face {
  font-family: "roboto";
  font-weight: normal;
  src: url(../../assets/fonts/roboto-regular.ttf);
}
@font-face {
  font-family: "source sans pro";
  font-weight: normal;
  src: url(../../assets/fonts/source-sans-pro.ttf);
}