// Fonts

// Colors
$white: #fff;
$white-d0: #d0d0d0;
$black: #000;
$green: #2ba52b;
$yellow: #b39e30;
$blue: #07d6f2;
$salat: #73d677;
$pyroar: #c4c4c4;
$pachirisu: #5bc7fa;
$pikachu: #f2cb07;
$tyranitar: #c4c4c4;
$jiggly: #f89eae;
$mudkip: #5bc7fa;
$quilava: #64d368;
$redbug: #d93e30;

//Shadows
