// Fonts

// Colors
$white: #fff;
$white-d0: #d0d0d0;
$black: #000;
$green: #2ba52b;
$yellow: #b39e30;
$blue: #07d6f2;
$salat: #73d677;
$pyroar: #c4c4c4;
$pasuchiri: #5bc7fa;
$pikachu: #f2cb07;
$tyranitar: #c4c4c4;
$jiggly: #f89eae;
$mudkip: #5bc7fa;
$quilava: #64d368;
$redbug: #d93e30;

// Тени
$shadow-header: 0px 4px 16px rgba(1, 28, 64, 0.2);
$shadow-card: 0px 4px 4px rgba(0, 0, 0, 0.25);
// Градиент
$bottom-color: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
$back-color: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
$card-color: linear-gradient(
	215.78deg,
	#b57e10 -124.09%,
	#b57e10 -78.76%,
	#f9df7b -35.76%,
	#fff3a6 8.4%,
	#f9df7b 50.24%,
	#b57e10 99.06%
);
$popupLog-color: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
