@import "_vars";
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 11px;
	color: $black;
	width: 231px;
	height: 66px;
	&-404 {
		font-family: Karla;
		font-style: normal;
		font-weight: bold;
		font-size: 23px;
		line-height: 27px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #212121;
		background: #f2cb07;
		box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
		border-radius: 11px;
	}
	&-pokemon {
		background: #73d677;
		box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
		border-radius: 11px;
		font-family: Karla;
		font-style: normal;
		font-weight: bold;
		font-size: 23px;
		line-height: 27px;
		color: #212121;
	}
}
