.page-find-pokemon {
	margin: 0;
	padding: 0;
	background-color: #f2b807;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	&__content {
		display: flex;
		flex-direction: row;
		padding: 0 0 0 156px;
		.pokemon-text {
			display: flex;
			justify-content: center;
			flex-direction: column;
			.pokemon-find {
				font-family: Karla;
				font-style: normal;
				font-weight: normal;
				font-size: 72px;
				line-height: 84px;
				letter-spacing: 4px;
				color: #000000;
				.find-span {
					font-family: Karla;
					font-style: normal;
					font-weight: bold;
					font-size: 72px;
					line-height: 84px;
					letter-spacing: 4px;
					color: #000000;
				}
			}
			.type-pokemon {
				font-family: Karla;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 37px;
				color: #000000;
			}
		}
		.pokemon-image {
			img {
				height: 84vh;
			}
		}
	}
}
