@import "./fonts";
@import "./vars";
@import "./mixins";

// Blocks
@import "block-bem";
body {
	margin: 0;
}
.container {
	background-color: yellow;
	// Navigation
	margin: 0;
	padding: 0;
	background-color: $green;
	.navigation-bar {
		display: flex;
		padding: 0 157px;
		background-color: $yellow;
		.pokemon-navigation {
			display: flex;
			width: 70%;
			justify-content: space-between;
		}
		.nav-image {
			display: flex;
		}
		.navigation-menu {
			display: flex;
			a {
				transform: translateY(30%);
				font-family: Karla;
				font-style: normal;
				font-weight: normal;
				font-size: 25px;
				line-height: 29px;
				color: #000000;
				text-decoration: none;
				margin-left: 15%;
			}
		}
	}
	.page-find-pokemon {
		margin: 8% 0 0 157px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.pokemon-text {
			.pokemon-find {
				font-family: Karla;
				font-style: normal;
				font-weight: normal;
				font-size: 72px;
				line-height: 84px;
				letter-spacing: 4px;
				color: #000000;
				.find-span {
					font-family: Karla;
					font-style: normal;
					font-weight: bold;
					font-size: 72px;
					line-height: 84px;
					letter-spacing: 4px;
					color: #000000;
				}
			}
			.type-pokemon {
				font-family: Karla;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 37px;
				color: #000000;
			}
			.pokemon-button {
				width: 231px;
				height: 66px;
				background: #73d677;
				box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
				border-radius: 11px;
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 23px;
				line-height: 27px;
				color: #212121;
			}
		}
	}
	.footer {
		margin: 0 188px 0 127px;
		display: flex;
		justify-content: space-between;
		.make-pokespartans {
			.pokespartans-text {
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				color: #212121;
			}
		}
		.our-teams {
			margin-top: 1.5%;
			a {
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				color: #212121;
				text-decoration: none;
			}
		}
	}
}
// Bug page
.bug-container {
	background-color: $redbug;
	overflow: hidden;
	height: 748px;
	.bug-page {
		margin: 73px 85px 118px 78px;
		background-color: $redbug;
		transform: translateY(-13%);
		.content-bug-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			.text-404 {
				transform: translateY(-30%);
				display: flex;
				justify-content: center;
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 600px;
				line-height: 818px;
				display: flex;
				align-items: center;
				letter-spacing: 4px;
				color: rgba(0, 0, 0, 0.5);
			}
		}
		.content-bug-rocket {
			display: flex;
			justify-content: center;
			flex-direction: column;
			p {
				transform: translateY(-1450%);
				text-align: center;
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				color: #f2f2f2;
			}
			span {
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				color: black;
			}
			.return-button {
				overflow: hidden;
				transform: translate(1100%, -3850%);
				background: #f2cb07;
				box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
				border-radius: 11px;
				a {
					font-family: Karla;
					font-style: normal;
					font-weight: bold;
					font-size: 23px;
					line-height: 27px;
					display: flex;
					align-items: center;
					text-align: center;
					color: #212121;
				}
			}
		}
		img {
			display: flex;
			justify-content: center;
			transform: translate(50%, -250%);
		}
	}
}
// Search Page
.container-search {
	background-color: red;
	.content-search-page {
		display: flex;
		text-align: center;
		flex-direction: column;
		margin: 30px 154px 30px 155px;
		.heading-text {
			font-family: Karla;
			font-style: normal;
			font-weight: normal;
			font-size: 35px;
			line-height: 41px;
			letter-spacing: 3px;
			color: #000000;
			.heading-pokemon-text {
				font-family: Karla;
				font-style: normal;
				font-weight: bold;
				font-size: 35px;
				line-height: 41px;
				letter-spacing: 3px;
				color: #000000;
			}
		}
		.heading-form-input {
			input {
				padding-left: 2%;
				width: 100%;
				height: 53px;
				background: #f2f2f2;
				box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
				border-radius: 40px;
			}
		}
		.content-list-all {
			display: flex;
			margin-left: 2%;
			justify-content: left;
			margin-top: 5%;
			.list-title-menu {
				margin-left: 5%;
			}
		}
		.content-card-menu {
			display: flex;
			flex-direction: row;
			.card-menu-all {
				.card-line-table {
					display: flex;
					flex-direction: row;
					transform: translateY(15%);
					.card-pokemon {
						display: flex;
						justify-content: space-between;
						margin-left: 10%;
						.pokemon-specifications {
							display: flex;
							flex-direction: row;
							.pokemon-specifications-name {
								.specifications-feautures {
									display: flex;
									flex-direction: row;
									z-index: 2;
									.specifications-feautures-grass {
										background: $salat;
										box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
										border-radius: 11px;
										width: 58.88px;
										height: 15.88px;
										font-family: Roboto;
										font-style: normal;
										font-weight: normal;
										font-size: 12px;
										line-height: 14px;
										text-align: center;
										color: #212121;
									}
									.specifications-feautures-poison {
										background: $blue;
										box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
										border-radius: 11px;
										width: 58.88px;
										height: 15.88px;
										font-family: Roboto;
										font-style: normal;
										font-weight: normal;
										font-size: 12px;
										line-height: 14px;
										text-align: center;
										color: #212121;
										margin-left: 10%;
									}
								}
							}
							.pyroar {
								background-color: $pyroar;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.pachirisu {
								background-color: $pasuchiri;
								width: 220.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.pikachu {
								background-color: $pikachu;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.tyranitar {
								background-color: $tyranitar;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.jigglypuff {
								background-color: $jiggly;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.mudkip {
								background-color: $mudkip;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.quilava {
								background-color: $quilava;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.charizard {
								background-color: $pyroar;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
							.squirtle {
								background-color: $pasuchiri;
								width: 227.9px;
								transform: translateX(-8%);
								z-index: -1;
							}
						}
					}
				}
			}
		}
	}
}
