@import "./fonts";
@import "./vars";
@import "./mixins";
@import "_vars";

// Страницы
@import "home";
@import "legendary";
@import "search";
@import "bugPage";
// Блоки
@import "block-bem";
@import "navbar";
@import "footer";

body {
	position: relative;
	font-family: $karla_font;
	height: 100%;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	margin: 0;
	padding: 0;
}
.container {
	overflow: hidden;
}
